<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
       <table style="display:flex; justify-content:center; align-items:center; margin-top: 40vh;">
        <tr><th>Name:-</th><td><input type="text" name="uname" placeholder="enter name"></td></tr>
        <tr><th>Image:-</th><td><input type="file" name="image"></td></tr>
        <tr><th><td><input type="submit" value="Submit"></td></th></tr>
       </table>

    </form>
</body>
</html>